<h1>Perfil</h1>

email:
{{user.email}}
<br />
isAdmin:
{{user.isAdmin}}
<br />
<a href='/auth/administracion'>Ver datos<a>

<br />
<a href='/auth/logout'>Salir!</a>



<div class="card m-auto col-8">
  <div class="card-header text-center alert alert-primary">
    Iniciar sesión
  </div>
  <div class="card-body">
    <h5 class="card-title">Bienvenido {{user.name}}</h5> 
      <div class="mb-3">
        {{!-- <label for="username" class="form-label">de:{{user.login}}</label>
        <label for="location" class="form-label">de:{{user.location}}</label> --}}
        <label for="role" class="form-label">con permiso de:{{user.role}}</label>
      </div>
      <a href='/auth/administracion'>Ver datos<a>
  </div>
  <div class="card-footer text-center">
    <div class="mb-2">
      <a href="/auth/logout" type="button" class="btn btn-danger">Salir</a>
    </div>
  </div>
</div>